<form [formGroup]="form">
  <input
    type="checkbox"
    (change)="sendUpdateAction()"
    formControlName="isCompleted"
  />

  <ng-container *ngIf="!isEditTitleMode; then label else input"></ng-container>
  <ng-template #label>
    <label (dblclick)="startEditMode()">{{ todo.title }}</label>
  </ng-template>
  <ng-template #input>
    <input
      class="edit"
      formControlName="title"
      (blur)="editingCanceled()"
      (keyup.enter)="editingComplete()"
      (keyup.escape)="editingCanceled()"
    />
  </ng-template>
</form>

<button (click)="sendDeleteAction()">
  <i class="fas fa-trash"></i>
</button>
