$app-width: 800px;

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  width: $app-width;
}

.url-message {
  width: $app-width;
  text-align: center;
}
