$max-app-width: 800px;
$min-app-width: 300px;

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  width: 100%;
  max-width: $max-app-width;
  min-width: $min-app-width;
}

.url-message {
  margin-top: 20px;
  max-width: $max-app-width;
  min-width: $min-app-width;
  text-align: center;
}
